<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %>
</head>
<body>
    
    <%- include('./partials/nav') %>
    <%- include('./partials/signin') %>

    



    <%- include('./partials/scripts') %>
</body>
</html>